---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin text-field {
 display: inline-block;
  outline: none;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  @include rounded();
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
}

@mixin button($color: 'red', $text_color: 'white') {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .5em 3em .55em;
  //text-shadow: 0 1px 1px rgba(0,0,0,.3);
  @include rounded(0.2em);
  @include box-shadow(0, 5px, 35px, rgba(0, 0, 0, 0.2));

  //color: $text_color !important;
  //font-weight: bold;
  //border: solid 1px darken($color, 18%);
  background: $color;
  @include gradient(lighten($color, 45%), $color);

  &:hover {
    text-decoration: none;
    background: saturate($color, 10%);
    @include gradient(saturate($color, 5%), darken($color, 5%));
  }

  &:active {
    position: relative;
    top: 1px;
    color: saturate($color, 15%);
    @include gradient(saturate($color, 15%), lighten($color, 15%));
  }
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin gradient($from, $to) {
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -moz-linear-gradient(top, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin radial-gradient($from, $to) {
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-color: $from;
}

// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$base-font-size:   16px;
//$base-font-weight: 400;
//$small-font-size:  $base-font-size * 0.875;
//$base-line-height: 1.5;
//
//$spacing-unit:     30px;
//
//$text-color:       #111;
//$background-color: #fdfdfd;
//$brand-color:      #2a7ae2;
//
//$grey-color:       #828282;
//$grey-color-light: lighten($grey-color, 40%);
//$grey-color-dark:  darken($grey-color, 25%);
//
//// Width of the content area
//$content-width:    800px;
//
//$on-palm:          600px;
//$on-laptop:        800px;

$backgroundColor: #e9eff4;
$margin: 5%;
$mainTextColor: #204851;
$lightTextColor: #949494;
$alphaColor: rgba(255, 255, 255, 0);

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "zenv"
;
