# The plan is to set domain-specific variables here and use this
# as an env-file for multiple containers.  The goal is to be able
# to change the DNS domain of a vm environment by swapping out
# this one file.

FACTABLE_KEY_SSL_CERT=wildcard_sfo2_cert

# themis domains
THEMIS_ZOOSK_ADMIN_URL=https://admin${ZENV_DEVID_PADDED}.sfo2.zoosk.com
THEMIS_ZOOSK_WWW_URL=https://www${ZENV_DEVID_PADDED}.sfo2.zoosk.com
