<footer class="site-footer">
    <div class="site-menu">
       <span><img class="logo" src="{{site.baseurl}}/images/ZENV_brand_logo_only2.png" /></span>
       <span class="from-text">by</span><a target="_blank" href="https://www.zoosk.com?from=zenv"><img class="zoosk-logo-img" src="{{site.baseurl}}/images/Zoosk-blue-logo.png" /></a>
       <div class="categories">
         <span class="category-item"><a href="{{site.baseurl}}/">Home</a></span>
         <span class="category-item"><a target="_blank" href="{{ site.github_location | prepend: site.url }}/wiki">Docs</a></span>
         <span class="category-item"><a target="_blank" href="https://about.zoosk.com/en/engineering-blog?from=zenv">Engineering Blog</a></span>
         <span class="category-item bold"><a class="bold" target="_blank" href="{{ site.github_location | prepend: site.baseurl | prepend: site.url }}">GitHub Project</a></span>
       </div>
     </div>
</footer>
