body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
}

a {
    &:link {
        text-decoration: none;
        color: $lightTextColor;
    }

    &:visited {
        text-decoration: none;
        color: $lightTextColor;
    }

    &:hover {
        text-decoration: none;
        color: $lightTextColor;
    }

    &:active {
        text-decoration: none;
        color: $lightTextColor;
    }
}

body {
    //background-color: $backgroundColor;
    //background-image: url("/images/Zenv_bakground-01.png"); // THIS IS DEFINED IN THE HTML
    //background-size: contain;
    //background-repeat: no-repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: $mainTextColor;
    max-width: 1600px;
    min-width: 1000px;

    .bold {
        font-weight: 600;
        color: $mainTextColor;
    }

    .page-content {
        //background-image: url("/images/Zenv_bakground-02.png"); // THIS IS DEFINED IN THE HTML
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        height: 100%;
        margin-top: -20px;

        .gradient-buffer {
            @include gradient(white, $alphaColor);
            height: 130px;
            display: block;
        }

        .wrapper {
            margin-left: 10%;
            margin-right: 10%;
            position: relative;
            margin-top: -50px;
        }
    }
}

.right {
    float:right;
}

.left {
    float:left;
}

.button {
    @include button($backgroundColor, $lightTextColor);

}

.section {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
}

.code-box {
    border: 1px solid darken($borderColor, 5%);
    width: 48%;
    @include box-shadow(0px, 0px, 20px, darken($backgroundColor, 10%), $inset: false);
    display: inline-block;

    .code-header {
        @include center-text();
        @include gradient(lighten($backgroundColor, 5%), $backgroundColor);
        padding: 10px;
        color: $lightTextColor;
        border-bottom: 1px solid darken($borderColor, 5%);
    }

    .code-content {
        color: $mainTextColor;
        font-family: Andale Mono, monospace;  line-height: 1em;
        font-size:13px;
        min-height:130px;
        background: darken($backgroundColor, 5%);
        padding: 10px;
    }
}

.code-instructions {
    color: $lightTextColor;
    width: 48%;
    display: inline-block;
}

.bottom-section {
    margin-top: 150px;
    border-color: lighten($lightTextColor, 35%);
    @include radial-gradient(lighten($backgroundColor, 5%), $backgroundColor);

    .about-blurb {
        margin-top: -80px;
        margin-right: 10%;
        margin-left: 10%;
        text-align: center;

        .blurb-title {
            margin-bottom: 30px;
        }
    }
}

// HOME PAGE
.home {
    .tagline {
        font-size: 2em;
        text-align: center;

        .download-zenv {
            color: $lightTextColor;
            font-size: 0.8em;
            margin-top: 30px;
        }
    }

}


// HEADER TEMPLATE

header {
    height: 100px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: $lightTextColor;
    font-size: 12px;

    .logo {
        height: 100px;
    }

    .categories {
        float: right;
        width: 50%;
        padding-top: 40px;

        .category-item {
            float: left;
            padding-right: 10%;
        }
    }
}